---
---

@import "reset";
@import "variables";

:root {
    --background-color: #f7f7f7;
    --foreground-color: #444;
    --accent-color: #fc7edb;
}

html {
    font-size: 100%;
    height: 100%;
}

body {
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: common-ligatures;
    background: var(--background-color);
    font-family: $sansSerif;
    font-size: 18px;
    line-height: 1.34;
    color: var(--foreground-color);

    height: 100%;
    min-height: 100%;
    padding-bottom: 3rem;
}

.hidden {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerFont;
    color: $foreground;
    font-weight: 300;
    line-height: 1.15;
    padding: 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
    line-height: 1;
}

h4 {
    font-size: 18px;
}

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
    color: inherit;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    cursor: pointer;

    &:hover, &:active {
        color: var(--accent-color);
    }
}

.spacer {
    flex: 1;
}

.page-header {
    overflow: hidden;

    margin-bottom: 2rem;

    .masthead {
        position: relative;
        width: 100%;
        height: 60vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        video {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -999;
            overflow: hidden;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .logo {
            display: block;
            width: 20vw;
            min-width: 140px;
            max-width: 280px;
            margin-bottom: 1em;
    
            img {
                width: 100%;
                display: block;
                filter: drop-shadow(0 0 10px #444);
                transform: translate3d(0, 0, 0); // Force into own layer for Safari
            }
        }

        .app-store {
            width: 100%;
            max-width: 200px;
    
            img {
                display: block;
                width: 100%;
                filter: drop-shadow(0 0 10px #444);
                transform: translate3d(0, 0, 0); // Force into own layer for Safari
            }
        }
    }

    .body-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        color: var(--accent-color);

        .text-logo {
            display: block;
            width: 60vw;
            max-width: 340px;
            margin-bottom: 1rem;
        }

        .tagline {
            margin-bottom: 2rem;
        }

        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            max-width: 600px;
            margin-bottom: 2rem;

            a {
                color: var(--background-color);
                flex-basis: 32%;
                display: block;
                text-align: center;
                margin: 0 1rem;
                padding: 0.4em 0.8em;
                border-radius: 1em;
                background-color: var(--accent-color);
            }
        }
    }
}

.page-body {
    margin: 0 auto;
    margin-bottom: 3rem;
    max-width: 1000px;
    padding: 0 2em;

    h1, h2, p {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    h1 {
        border-bottom: 4px solid var(--accent-color);
        padding-bottom: 0.1em;
        margin-bottom: 2rem;
    }

    h2 {
        margin-top: 1rem;
        margin-bottom: 0.4rem;
        font-size: 1.3rem;
        font-weight: bold;
    }

    p {
        margin-bottom: 1em;
    }

    section {
        display: grid;
        grid-template: auto / [video] 333px [content] 1fr;
        margin-bottom: 4rem;
        gap: 2em;
        align-items: center;

        &:nth-child(odd) {
            grid-template: auto / [content] 1fr  [video] 333px;
        }

        .blurb {
            grid-area: content;
        }

        .video {
            grid-area: video;
            display: block;
            width: 100%;
            max-width: 333px;
            justify-self: center;
        }
    }
}

.page-footer {
    text-align: center;
    font-size: 0.9rem;
    padding-bottom: 2em;
}

@media screen and (max-width: 800px) {
    .page-body {
        section:nth-child(even),
        section:nth-child(odd) {
            grid-template:
                "content"
                "video";
        }

        #support {
            flex-direction: column-reverse;
        }
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }

    .page-header {
        .body-header {
            nav {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1em;
            }
        }
    }

    .page-body {
        padding: 0 1em;
    }
}
