#index {
    display: flex;
    flex-direction: column;
    text-align: center;

    min-height: 100%;

    padding-bottom: 3rem;

    .index-header {
        img {
            display: block;
            margin: 0 auto;
            width: 400px;
        }
    }

    .index-nav {
        & > * {
            padding: 0 1em;
        }
    }

    .apps {
        display: flex;
        justify-content: center;
        font-size: 1em;
        margin-top: 6rem;
        margin-bottom: 2rem;
        gap: 2rem;

        a {
            color: $foreground;
        }

        a:hover {
            opacity: 0.8;
        }

        .icon {
            display: block;
            width: 120px;
            margin-bottom: 1rem;

            img {
                width: 100%;
                display: block;
                -webkit-filter: drop-shadow(0 0 10px #444);
                filter: drop-shadow(0 0 10px #444);
                transform: translate3d(0, 0, 0); // Force into own layer for Safari
            }
        }
    }

    .index-footer {
        text-align: center;
        font-size: 0.9rem;
    }
}