#index {
    display: flex;
    flex-direction: column;
    text-align: center;

    min-height: 100%;

    padding-bottom: 3rem;

    .index-header {
        img {
            display: block;
            margin: 0 auto;
            width: 400px;
        }
    }

    .carousel {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;

        &:before {
            display: block;
            content: "";
            height: 50px;
            width: 100%;
            position: absolute;
            background: linear-gradient($background, #fff0);
        }

        &:after {
            display: block;
            content: "";
            height: 50px;
            width: 100%;
            position: absolute;
            bottom: 0;
            background: linear-gradient(#fff0, $background);
        }

        video {
            display: block;
            transition: transform 0.2s;

            &.active {
                border: 10px solid $background;
                transform: scale(1.05, 1.05);
                z-index: 1;
            }
        }
    }

    .index-nav {
        & > * {
            padding: 0 1em;
        }
    }

    .index-footer {
        text-align: center;
        font-size: 0.9rem;
    }
}