#index {
    display: flex;
    flex-direction: column;
    text-align: center;

    min-height: 100%;

    padding-bottom: 3rem;

    .index-header {
        img {
            display: block;
            margin: 0 auto;
            width: 400px;
        }
    }

    .index-nav {
        & > * {
            padding: 0 1em;
        }
    }

    .apps {
        display: flex;
        justify-content: center;
        font-size: 1em;
        margin-top: 6rem;
        margin-bottom: 2rem;

        a {
            color: $foreground;
        }

        a:hover {
            opacity: 0.8;
        }

        .icon {
            display: block;
            border-radius: 20%;
            width: 120px;
            box-shadow: 0 0 10px #444;
            margin-bottom: 1rem;
        }

        .beatsy {
            .icon {
                background-color: #f9386a;
            }

            img {
                padding: 10%;
                width: 100%;
                opacity: 0.78;
                display: block;
            }
        }
    }


    .index-footer {
        text-align: center;
        font-size: 0.9rem;
    }
}